body{
	margin-left: 3em;
	margin-right: 3em
}
h1 {
	color: green;
}

table {
	table-layout: auto;
	width: 200px
}
th {
	color: black;
	font-size: 300%
}

td {
	padding-bottom: 1em;
	border: 3px solid;
	font-size: 150%;
	text-align: center;
	flex-wrap: wrap
}

.firstcol {
	color: red;
	font-size: 300%;
	border: 0px;
	text-align: center
}
